* {
    text-align: center;
    font-family: Arial, Avenir, Helvetica, sans-serif;
}

#container {
  min-width: 300px;
  margin: 10px;
}

#popupNavBar {
  background-color: #409EFF;
  color: white;
  padding: 10px;
  font-size: 18px;
  
}

#altText {
  padding-bottom: 10px;
}

#email-area {
  background-color: rgb(255, 255, 255);
  padding: 10px;
}

#text-box {
  padding: 20px;
}

h2 {
    text-align: center;
}

.button1 {
  font-size: small;
    margin: 10px;
    border-radius: 2px;
    text-align: center;
    background-color: #409EFF;
    color: white;
    border: none;
    padding: 8px;
    margin-top: 20px;
    
  }

  .button2 {
    margin: 10px;
    border: none;
    text-align: center;
    background-color: rgb(185, 215, 244);
    padding: 5px;
    
  }

  .button1:hover {
    background-color: #2e5f91;
    
  }

  .button2:hover {
    text-decoration: underline;
  }

