* {
    text-align: center;
}

#container {
  min-width: 300px;
  padding: 10px;
}


#text-box {
  padding: 20px;
}

h2 {
    text-align: center;
}

button {
    margin: 10px;
    border-radius: 2px;
    text-align: center;
    
  }

  .button2 {
    margin: 10px;
    border: none;
    text-align: center;
    
  }

  button:hover {
    background-color: aliceblue;
  }

  .button2:hover {
    text-decoration: underline;
  }

