* {
    text-align: center;
}


h2 {
    text-align: center;
}

button {
    margin: 10px;
    border-radius: 2px;
    text-align: center;
    
  }

  button:hover {
    background-color: aliceblue;
  }

