<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>Alt it! Suggest alt text for images</title>
    {{/if}}


    <link rel="stylesheet" href="./css/styles.css">

</head>


<body>
    <div id="container">
        <div id="header">
           <h2>Alt it!</h2>
           <h5>Suggest alt text for images</h5>
        </div>

        <div id="navBar">
            {{#if toastMessage}}
                <p class="toastMessage">{{toastMessage}}</p>
            {{/if}}

            <button type="button" id="home-button"><a href="./">Home</a></button>   
            <button type="button" id="info-button"><a href="./information">Information</a></button>  


            <div class="dropdown">

            </div>
        </div>

        <div class="main">
            {{{body}}}
        </div>

        <div id="footer">
               
        </div>
    </div>
</body>
</html>