#container {
display: grid;
grid-template-columns: 2;

}

#header {
    grid-area: h;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

@media screen and (max-width: 1200px) {

}

