<div id="info-page">
    <h3>What is alt text?</h3>
    <div>
        <p>Also called alt tags and alt descriptions, alt text is the written copy that appears in place of an image on a webpage if the image fails to load on a user's screen. This text helps screen-reading tools describe images to visually impaired readers and allows search engines to better crawl and rank your website.</p>
    </div>
</div>